@page
@model Test
@{
    ViewData["Title"] = "About";
}
@section Scripts
{
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function (){alert('hi');});
    </script>
}
<h2 class="jumbotron">@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
